<section class="main">
    <div *ngIf="err" class="notification">
        <p>{{err}}</p>
        <span class="notification_progress"></span>
          </div>
    <div class="outer">
        <div class="image">
<img class="h-full" src="../../../../../assets/download (1).jpg" alt="">
        </div>
        <div class="form">
           <div class="upper">
            <div class="content">
                <h1>Welcome to <span>CODFORUM</span></h1>
                <p>Find the best answer to your technical question, help others answer theirs</p>
            </div>
           </div>
           
              <form action="" [formGroup]="registerForm" (ngSubmit)="onRgisterSubmit()">
                <div class="lower">
                <div class="innerform">
                    <div class="first">
                         <div class="one">
                            <label for="username">username</label>
                            <input type="text" formControlName="username" name="" id="">
                            <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
                                <div *ngIf="registerForm.get('username')?.errors?.['required']" style="color: red;">username required</div>
                                <div *ngIf="registerForm.get('username')?.errors?.['minlength']" style="color: red;">username required min length</div>
                            </div>
                         </div>
                         <div class="two">
                            <label for="email">E-mail</label>
                            <input type="email" formControlName="email">
                            <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
                                <div *ngIf="registerForm.get('email')?.errors?.['required']" style="color: red;">E-mail required </div>
                                <div *ngIf="registerForm.get('email')?.errors?.['email']" style="color: red;">Invalid email</div>
                                </div>
                         </div>
                    </div>
                    <div class="second">
                         <div class="three">
                            <label for="phone">Phone</label>
                            <input type="tel" formControlName="phone">
                            <div *ngIf="registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched">
                                <div *ngIf="registerForm.get('phone')?.errors?.['required']" style="color: red;">Phone required </div>
                                </div>
                         </div>
                         <div class="four">
                            <label for="password">Password</label>
                           <input type="text" formControlName="password" name="" id="">
                           <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
                            <div *ngIf="registerForm.get('password')?.errors?.['required']" style="color: red;">password required</div>
                            <div *ngIf="registerForm.get('password')?.errors?.['minlength']" style="color: red;">Atleast 6 charecter required</div>
                        </div>
                         </div>
                    </div>
                  </div>
                  <div class="submit">
                    <button class="btn" type="submit" [disabled]="registerForm.invalid">Submit</button>
                   </div>
                </div>
              </form>
           
        </div>
    </div>
</section>