
<div class="mt-20 flex-col cursor-pointer ">
    <div title="user Managment" routerLink="userlist" routerLinkActive="bg-white" [routerLinkActiveOptions]="{exact: true}" class=" w-full border-b-2 hover:border-b-0 flex justify-center items-center h-10 hover:bg-white  ">
       
      <p >Users
        
      </p>
    </div>
   
        <div title="Tags Managment" routerLink="taglist" routerLinkActive="bg-white" [routerLinkActiveOptions]="{exact: true}"   class=" w-full border-b-2 hover:border-b-0 flex justify-center h-10 hover:bg-white  ">
           
          <p >Tags</p>
        </div>
            <div title="Community Managment" routerLink="community" routerLinkActive="bg-white" [routerLinkActiveOptions]="{exact: true}" class=" w-full border-b-2 hover:border-b-0 flex justify-center h-10 hover:bg-white  ">
              
              <p >Community</p>
            </div>
                <div title="Badge Managment" routerLink="badge" routerLinkActive="bg-white" [routerLinkActiveOptions]="{exact: true}" class=" w-full border-b-2 hover:border-b-0 flex justify-center h-10 hover:bg-white  ">
                  
                  <p >Badges</p>
                </div>
                <div title="Reporting Managment" routerLink="report" routerLinkActive="bg-white" [routerLinkActiveOptions]="{exact: true}"  class="  w-full border-b-2 hover:border-b-0 flex justify-center h-10 hover:bg-white  ">
                  
                    <p >Report</p>
                  </div>
<!-- 
<div >
    <a routerLink="userlist" class="flex item-center bg-whit py-2 px-2 rounded-md">
        <div class="flex ml-6 mt-5">
           
            <h1 class="ml-1">Users</h1>
        </div>
    </a>
    <a routerLink="taglist"  class="flex item-center bg-whit py-2 px-2 rounded-md">
        <div class="flex ml-6 mt-2">
            <h6 class="ml-1">Tags</h6>
        </div>
    </a>
    <a routerLink="community" class="flex item-center bg-whit py-2 px-2 rounded-md">
        <div class="flex ml-6 mt-2">
            <h6 class="ml-1">Community</h6>
        </div>
    </a>
    <a routerLink="badge" class="flex item-center bg-whit py-2 px-2 rounded-md">
        <div class="flex ml-6 mt-2">
            <h6 class="ml-1">Badges</h6>
        </div>
    </a>
    <a  class="flex item-center bg-whit py-2 px-2 rounded-md">
        <div class="flex ml-6 mt-2">
            <h6 class="ml-1">Reported</h6>
        </div>
    </a> -->
    
</div>