<!-- component -->
<div class="py-16 bg-gray-50 overflow-hidden cursor-pointer">
    <button routerLink="/admin/addtag" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 absolute  right-12 rounded-full">
        Add Tag
      </button>
    <div class="container m-auto px-6 space-y-8 text-gray-500 md:px-12">
        <div>
            <span class="text-gray-600 text-lg font-semibold">Tag List</span>
            
        </div>
      
        <div  class="mt-16 grid border divide-x divide-y rounded-xl overflow-hidden sm:grid-cols-2 lg:divide-y-0 lg:grid-cols-3 xl:grid-cols-4">
            <div *ngFor="let el of tags;" class="relative group bg-white transition hover:z-[1] hover:shadow-2xl cursor-pointer ">
                <div  class="relative p-8 space-y-8">
                    
                    <label for="img">
                        <img [src]="el.image" class="w-10" width="512" height="512" alt="burger illustration">
                        <input type="file" (change)="imgChange($event,el._id)" id="img" style="visibility: hidden;">
                    </label>
                    <div class="space-y-2">
                        <h5 class="text-xl text-gray-800 font-medium transition group-hover:text-yellow-600">{{el.name}}</h5>
                        <p class="text-sm text-gray-600">{{el.description}}</p>
                    </div>
                   
                    <button [routerLink]="['/admin/edittag',el._id,el.name,el.description,el.image]" class="bg-transparent hover:bg-green-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                        Edit
                      </button>
                      <button (click)="removeTag(el._id)" class="bg-transparent ml-4 hover:bg-red-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                        Remove
                      </button>
                </div>
            </div>
          
         
           
        </div>
    </div>
</div>