<style>
button{
    background:white;
    padding:5px 15px;
    border-radius:20px;
    margin:2.5px ;
    border:1px gray solid;
}
</style>
<div style="background-color: #F5F5F5; min-height: 750px;" class="h-fit">
<div class="flex">


<div class="w-3/4">

<div class="mt-4">
  <div #header></div>
</div>

<div class="mt-8" >
  <div #editor></div>
  <button id="sbmt-btn" type="submit" (click)="submit()">Submitt</button>
</div>
<div id="second-div">
  <div id="second-divCont"></div>
 
</div>
<div *ngIf="visibility"   class="flex">
  <div class=" mt-4 h-52 w-80">
    <h1 class="text-md text-slate-600 font-semibold ml-2">Select Tags</h1>

<!-- component -->

  
    <div  class="mx-auto  max-w-md border-t border-gray-300">


      <form action="" class="relative mx-auto w-max">
        <input type="search" 
              class="peer cursor-pointer relative z-10 h-10 w-12 mt-2 mb-2 rounded-full border bg-transparent pl-12 outline-none focus:w-full focus:cursor-text focus:border-lime-300 focus:pl-16 focus:pr-4" />
        <svg xmlns="http://www.w3.org/2000/svg" class="absolute inset-y-0 my-auto h-8 w-12 border-r border-transparent stroke-gray-500 px-3.5 peer-focus:border-lime-300 peer-focus:stroke-lime-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
      </form>


    </div>
  

        <div *ngIf="tagList" class=" flex flex-wrap w-80 h-full">
            <button *ngFor="let el of tagList | searchTags:value"    (click)="tagSelected(el._id,el.name,$event)" class="h-fit p-1 w: fit-content border hover:bg-sky-200 active:bg-sky-200 cursor-pointer rounded ml-2">{{el.name}}</button>
         </div>
  
    
  </div>

  <div class="flex-1 flex justify-end items-center  w-fit">
    <div class="w-80 h-full  ">
   <h1 id="tagh1" class="font-semibold text-md mt-4 ">Selected Tags</h1>
   <div class="w-80 border-t border-gray-300"></div>
   <div class="text-blue-900 mt-14 ml-12">
    <ul>
      <li id="li" *ngFor="let el of tagname">{{el}}</li>
     
     </ul>
   </div>
   
    </div>
  </div>
</div>

<div *ngIf="visibility" id="my-div" class="  absolute right-0 mr-4">
  <div class="flex">
    <input required type="checkbox">
    <p class="ml-2">Continue with your question</p>
  </div> 
  <button (click)="apply()"  class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 mb-4 hover:border-transparent rounded">
    Apply
  </button>
</div>

</div>

<div class="flex-1 flex pl-1 hidden md:block h-fit">
  <div  class="h-fit mt-4 bg-rose-100 w-60 rounded border hidden md:block">
    <h1 class="p-3 font-semibold font-sans font-xl">
      in order to improve your chances of getting an answer, here are some guidelines to follow:
       </h1>
      
       <ul class="px-3 font-normal font-lg ">
        <li class="mt-2 ">Make sure your question is <span class="font-semibold text-red-600">on-topic </span> and <span class="font-semibold text-red-600">suitable </span> for this site.</li>
        <li class="mt-2 ">Write a title that summarizes the specific problem
          .</li>
        <li class="mt-2 ">Introduce the problem before you post any code.</li>
        <li class="mt-2 ">Don't include tags in the title. </li>
        <li class="mt-2 ">Introduce the problem before you post any code!</li>
        <li class="mt-2 ">Include all relevant tags</li>
       </ul>
       
</div>
</div>
</div>
</div>


