<div class=" flex justify-end items-end w-full h-16 border-b ">
    <button routerLink="/askqn"
        class="bg-transparent hover:bg-blue-500 text-blue-700  hover:text-white p-1 border border-blue-500 hover:border-transparent rounded mr-2 mb-2">
        Ask question
    </button>
</div>
<div >
    <div class="flex">
        <div class=" w-32 flex items-end justify-center ">
          <div class=" flex flex-col items-center justify-center">
            <button (click)="qnUpVoted(Qn._id)" [ngClass]="(upvoted)?'text-black-100':'text-slate-300'" class="bg-transparent hover:bg-slate-200 hover:text-blue-700 font-semibold hover:text-white   hover:border-transparent rounded">
                <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" width="30" height="25" viewBox="0 0 16 16" id="svg2" version="1.1">
                    
                    <g id="layer1" transform="rotate(45 1254.793 524.438)">
                    
                    <path fill="currentColor" style="fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" d="M4.468 1048.341h1.996v-9h9v-2h-11z" id="path4179"/>
                    
                    </g>
                    
                    </svg>
              </button>
              <div class="w-fi h-fit text-slate-500 font-bold">
<p>{{voteCount}}</p>
              </div>
              <button (click)="qnDownVoted(Qn._id)" [ngClass]="(downvoted)?'text-black-100':'text-slate-300'" class="bg-transparent hover:bg-slate-200 hover:text-blue-700 font-semibold hover:text-white hover:border-transparent rounded">
                <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" width="30" height="25" viewBox="0 0 16 16" id="svg2" version="1.1">

                 
                    
                    <g id="layer1" transform="rotate(45 1254.793 524.438)">
                    
                    <path fill="currentColor" style="fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" d="M.536 1044.409v-1.997h9v-9h2v11z" id="path4179"/>
                    
                    </g>
                    
                    </svg>
              </button>
          </div>
        </div>
        <div class="border-b w-full h-fit">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2 m-6 break-all" [innerHTML]="Qn.titlehtml"></h2>
        </div>
    </div>
    <div class="flex">
        <div class=" flex justify-center h-full w-32">
          <div (click)="showModal()" class="h- w-6 py-4">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 -0.5 21 21" version="1.1">
    
                <title>report_flag [#1418]</title>
                <desc>Created with Sketch.</desc>
                <defs>
            
            </defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Dribbble-Light-Preview" transform="translate(-139.000000, -640.000000)" fill="#000000">
                        <g id="icons" transform="translate(56.000000, 160.000000)">
                            <path d="M101.9,489 C101.9,489.552 101.4296,490 100.85,490 L85.1,490 L85.1,483 C85.1,482.448 85.5704,482 86.15,482 L100.85,482 C101.4296,482 101.9,482.448 101.9,483 L101.9,489 Z M101.9,480 L85.1,480 C83.93975,480 83,480.895 83,482 L83,499 C83,499.552 83.4704,500 84.05,500 C84.6296,500 85.1,499.552 85.1,499 L85.1,492 L101.9,492 C103.06025,492 104,491.105 104,490 L104,482 C104,480.895 103.06025,480 101.9,480 L101.9,480 Z" id="report_flag-[#1418]">
            
            </path>
                        </g>
                    </g>
                </g>
            </svg>
          </div>
        </div>
        <div class=" w-full h-fit">
            <p class=" m-6 break-all" [innerHTML]="Qn.body"></p>
        </div>
    </div>
    <!-- MODAAAAAAAAAAAAL -->
    


<div *ngIf="Modal" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <!--
    Background backdrop, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <!--
        Modal panel, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
      <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
        <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
            <label id="example-radio-group-label">Pick your  Reason</label>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteReason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
          
        </div>
        <div *ngIf="favoriteReason == 'other'">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                 
                  <input [(ngModel)]="report" name="report" matInput #message maxlength="256" placeholder="write here..." >
                  
                  <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                </mat-form-field>
              </form>
              
        </div>
        <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
          <button (click)="submitReport(Qn._id)" type="button" class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto">Submit</button>
          <button (click)="hideModal()" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Cancel</button>
        </div>
       
      </div>
    </div>
  </div>
</div>

   
   
    <div class=" w-full h-6">
  <div *ngFor="let el of Qn.tags" [routerLink]="['/qnlist',el._id]" class="h-6 w-fit bg-sky-100 flex items-center cursor-pointer  border p-2 ml-6">
   <p class="text-red-400 text-sm  ">{{el.name}}</p>
  </div>
    </div>

        <div class=" flex-1 h-20 flex justify-end mr-6">
            <div class=" items-start bg-sky-100 ml-2  p-4 w-fit ">
                <p class=" text-gray-400 text-md">Asked at {{Qn.createdAt | date}}</p>
                <div class="flex">
                    <div class="w-6 h-6  border">
                        <img [src]="user.image" alt="">
                        </div>
                       <p class="text-red-400 text-sm text-justify ml-4"> {{user.username}}</p>
    
                </div>
             
            </div>
    
        </div>
        <!-- COMMENT -->
        <div class=" flex  h-fit w-full">
          <div class="w-32 h-full ">

          </div>
        
          <div class="flex-1 border-t  ">
            <div *ngFor="let el of Comments" class=" flex justify-between px-2  w-full h-14 border-b bg-orange-50 ">
                <p class="text-slate-500 break-all">{{el.body}}</p>
                <div class=" flex justify-between items-end h-full w-60 ">
                   
                    <div class="w-fit h-fit  bg-pink-100 ">
                        <p class="text-xs text-slate-400">{{el.createdAt | date}}</p>
                      </div>
                      <div class=" flex w-fit h-4  bg-sky-100">
                        <div class=" w-6 h-4 ">
                  <img class="h-4" [src]="el.user.image" alt="">
                        </div>
                        <p class="text-xs text-slate-400">{{el.user.username}}</p>
                      </div>

                </div>
                
              
            </div>
           
            
          </div>
          
        </div>
        <div class="w-full h-6 mt-4 flex justify-end">
         <div (click)="showBox()" class=" w-fit h-6 mr-6 ">
            <p><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 32 32" fill="none">
                <g clip-path="url(#clip0_901_2827)">
                <path d="M24 25.0002H2C1.45 25.0002 1 24.5502 1 24.0002V2.00024C1 1.45024 1.45 1.00024 2 1.00024H30C30.55 1.00024 31 1.45024 31 2.00024V30.0002C31 31.0002 30.61 31.6102 29 30.0002L24 25.0002Z" fill="#FFC44D"/>
                <path d="M9 17.0001H15M9 9.0001H23M9 13.0001H23M22 23.004C22 23.004 28 29.006 29 30.006C30.609 31.616 31 31.008 31 30.008V2.008C31 1.456 30.553 1 30 1H2C1.447 1 1 1.456 1 2.008V24.008C1 24.561 1.447 25 2 25H20" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                <clipPath id="clip0_901_2827">
                <rect width="32" height="32" fill="white"/>
                </clipPath>
                </defs>
                </svg></p>
         </div>
             </div >

    <!-- COMMENT BOX -->
        <div *ngIf="commentBox" class="w-full border">
           <!-- component -->
<!-- comment form -->
<div class="flex mx-auto items-center justify-center shadow-lgmx-8 mb-4 max-w-lg">
    <form (submit)="addComment(Qn._id)" [formGroup]="commentControl" class="w-full max-w-xl bg-white rounded-lg px-4 pt-2">
       <div class="flex flex-wrap -mx-3 mb-6">
          <h2 class="px-4 pt-3 pb-2 text-gray-800 text-lg">Add a new comment</h2>
          <div class="w-full md:w-full px-3 mb-2 mt-2">
             <textarea formControlName="comment" class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-20 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white" name="body" placeholder='Type Your Comment' required></textarea>
          </div>
          <div class="w-full md:w-full flex items-start md:w-full px-3">
             <div class="flex items-start w-1/2 text-gray-700 px-2 mr-auto">
                

             </div>
             <div class="-mr-1">
                <button type="submit">Submit</button>
                
                <!-- <input type='text'  class="bg-white text-gray-700 font-medium py-1 px-4 border border-gray-400 rounded-lg tracking-wide mr-1 hover:bg-gray-100" value='Post Comment'> -->
             </div>
          </div>
          </div>
       </form>
   
 </div>
             </div >
  
    <div class="w-full h-6 border-b mt-4 ">
   <p class=" ml-4 font-serif  text-gray-700">{{ansCount}} answer</p>
    </div >
        
        <div class="flex" *ngFor="let el of ANS">
            <div class="h-full w-32">
                <div class=" flex flex-col items-center justify-center">
                    <button (click)="ansUpVoted(el._id);el.liked=!el.liked; " [ngClass]="el.liked?'text-black-900':'text-slate-200'" class=" bg-transparent hover:bg-slate-200 hover:text-blue-700 font-semibold hover:text-white   hover:border-transparent rounded">
                        <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" width="30" height="25" viewBox="0 0 16 16" id="svg2" version="1.1">
                            
                            <g id="layer1" transform="rotate(45 1254.793 524.438)">
                            
                            <path fill="currentColor" style="fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" d="M4.468 1048.341h1.996v-9h9v-2h-11z" id="path4179"/>
                            
                            </g>
                            
                            </svg>
                      </button>
                      <div class="w-fi h-fit text-slate-500 font-bold">
                  <p>{{el.upvote.length - el.downvote.length}}</p>
                      </div>
                      <button (click)="ansDownVoted(el._id);el.liked=!el.liked;"  [ngClass]="el.liked==false?'text-black-900':'text-slate-200'"  class= "bg-transparent hover:bg-slate-200 hover:text-blue-700 font-semibold hover:text-white hover:border-transparent rounded">
                        <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" width="30" height="25" viewBox="0 0 16 16" id="svg2" version="1.1">
        
                         
                            
                            <g id="layer1" transform="rotate(45 1254.793 524.438)">
                            
                            <path fill="currentColor" style="fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" d="M.536 1044.409v-1.997h9v-9h2v11z" id="path4179"/>
                            
                            </g>
                            
                            </svg>
                      </button>
                  </div>
                        </div>
                        <div class="flex-1">
                            <div  class=" w-full h-fit break-all" [innerHTML]="el.body" >
              
                            </div>
                           
                                <div class="  w-full h-20 flex justify-end">
                                    <div class=" items-start bg-slate-100 ml-2  p-4 w-fit mr-6">
                                        <p class=" text-gray-400 text-md">Replayed at {{el.createdAt | date}}</p>
                                        <div class="flex">
                                            <div class="w-6 h-6  border">
                                                <img [src]="el.user.image" alt="">
                                                </div>
                                               <p class="text-red-400 text-sm text-justify ml-4"> {{el.user.username}}</p>
                            
                                        </div>
                                     
                             
                            
                                </div>
                            </div>
                        </div>
           
                   
      
    </div>
   
    <div class="border w-full h-12">
<p class="font-serif p-4 font-semibold text-gray-500">Post your Answer</p>
    </div>
    <div>
        <div #editor></div>
        <button type="submit" (click)="submit()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-2">
            Submitt
        </button>
    </div>
    <div class="w-full h-12">

    </div>
</div>