<!-- <div class="flex flex-col h-screen border">
    <div class=" flex  border-b w-full h-32 ">
        <div class=" relative  w-80 h-full">
            <h1 class="mt-4 ml-4 text-2xl font-bold"> USERS</h1>
            <div class="absolute right-0 bottom-0 mb-2">
                <form class="d-none d-md-flex input-group w-auto my-auto" >
                    <input autocomplete="off"
                    type="search"
                    class="form-control rounded  border "
                    [formControl]="searchControl"
                    placeholder='Search here....' 
                    style="max-width: 400px; margin-top: 7px;" />
                </form>
               
            </div>

        </div>
        <div class="  flex-1 h-full relative">
            <div class="flex border w-64 h-9 absolute right-0 bottom-10 mr-4 ">

               
                <div (click)="allUsers()" class="border px-4 h-full hover:bg-slate-200 cursor-pointer ">
                    All
                </div>
              
               
                <div (click)="normalUsers()" class="border px-4 h-full hover:bg-slate-200 cursor-pointer ">
                    Normal
                </div>
              
               
                    <div (click)="moderators()" class="border px-4 h-full hover:bg-slate-200 cursor-pointer ">
                        Moderators
                    </div>
             
               

            </div>
        </div>
    </div>
    <div id="user" class="flex-1">
        <div *ngIf="usersDeatails"   class="flex grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 cursor-pointer">
            <div *ngFor="let el of usersDeatails" [routerLink]="['/singleuser',el._id]" class="flex items-start rounded-xl bg-white ml-2 mt-2 p-4 shadow-lg w-64">
                <div 
                    class="flex h-14 w-14 items-center justify-center  border border-orange-100 bg-orange-50">
                   <img [src]="el.image" alt="">
                </div>
        
                <div class="ml-4 ">
                    <h2 class="font-semibold">{{el.username}}</h2>
                    <p class="mt-2 text-sm text-gray-500">{{el.reputation}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="bg-yellow-500 w-3 h-3 mt-1.5 rounded-full"></span></p>
                </div>
            </div>
        </div>
       
    </div>
   
</div> -->

<div style="background-color: #F5F5F5 ; min-height: 100vh;" class=" p-3">
    <div class=" flex  bg-white rounded    md:w-full w-96  h-fit">
        <div>
            <div class=" flex flex-col justify-start items-center md:w-72 w-fit">
                <button (click)="allUsers()"  class="w-24 h-8  border-b border-green-500  mt-2 bg-white text-green-500 font-normal hover:bg-green-700 hover:text-white">
            All
                </button>
                <button (click)="normalUsers()"  class="w-24 h-8  border-b border-green-500  mt-2 bg-white text-green-500 font-normal hover:bg-green-700 hover:text-white">
                   Normal
                       </button>
                       <button (click)="moderators()" class="w-24 h-8  border-b border-green-500  mt-2 bg-white text-green-500 font-normal hover:bg-green-700 hover:text-white">
                           Moderators
                               </button>
              </div>
        </div>
    
       <div style="height:fit-content; row-gap: 8px;"   class="md:flex-1 w-96 grid md:grid-cols-3 grid-cols-2 ml-2  ">
      
           <div *ngFor="let el of usersDeatails" [routerLink]="['/singleuser',el._id]" class=" flex  mt-2 ml-3 p-3  h-fit md:w-44 w-fit border-t border-b border-gray">
             <div class="w-fit h-fit">
<img [src]="el.image" class="w-8 h-8" alt="">
             </div>
             <div class="h-full flex-1 flex flex-col">
         <h4 class="text-base font-normal text-slate-500 ml-4">{{el.username}}</h4>
         
             </div>
           </div>
         
       </div>
    </div>

</div>