<div class=" bg-white border  w-full sticky top-0 cursor-pointer">
    <div class="flex py-3 mx-5 text-black  item-center">
        <div class="flex-1 flex justify-start px-5">
            <h1 id="logo" routerLink="/admin" class="font-4xl font-bold  text-black" >COD<span class="text-red-600">FORUM</span></h1>
        </div>
        <div class="flex-1 flex justify-end">
            <div (click)="logout()" class="  bg-slate-500 py-1 px-3 rounded-md">
                <h6 class="ml-1">Logout</h6>
                       </div>
        </div>
        
    </div>
</div>