#chat{
    height: 540px;
    width: 600px;
    margin-right: 20px;
}
#div1{
    width: 600px;
}
#div2{
    width: 600px;
}
#div3{
    width: 540px;
}
#imgDiv{
    background-image: url('/assets/Global network.png');
    background-size: cover;
}
