<!-- <div class=" flex  border-b w-full h-32 ">
    <div class=" relative  w-80 h-full">
        <h1 class="mt-4 ml-4 text-2xl font-bold"> Communities</h1>
        <div class="absolute right-0 bottom-0 mb-2">
            <form >
                <input autocomplete="off" type="search"  class="form-control rounded  border "
                placeholder='Search here....' style="max-width: 400px; margin-top: 7px;" />
            </form>
           
        </div>

    </div>
   
</div>

   

<div class="flex">
    <div *ngFor="let el of list"  [routerLink]="['/communitydetail',el._id]" class="w-80 p-6 bg-white rounded-xl shadow-xl hover:shadow-2xl hover:scale-105 transition-all transform duration-500">
        <img class="w-32 object-cover rounded-t-md" [src]="el.image" alt="" />
        <div class="mt-4">
          <h1 class="text-2xl font-bold text-gray-700">{{el.name}}</h1>
      
          <div class="mt-4 mb-2 flex justify-between pl-4 pr-2">
           <p class="line-clamp-3 truncate">{{el.description}}</p>
          </div>
        </div>
      </div>
  
 
  
      
   
</div>
     -->
<div style="background-color: #F5F5F5 ; height: 100vh;" class=" p-3">
  <div class=" flex flex-col bg-white  md:w-full w-96  h-fit">

    <div class="md:flex">
        <div class="flex-1 flex justify-start items-center h-12 ">
<h1 class="text-2xl font-normal font-sans ml-4">Communities</h1>
        </div>
        <div class="flex-1 flex items-center h-12 ">
            <form >
                <input autocomplete="off" type="search" [formControl]="searchControl" class="form-control rounded  border "
                placeholder='Search here....' style="max-width: 400px; margin-top: 7px;" />
            </form>
        </div>
    </div>
    <div class="md:w-full w-96 md:mt-0 mt-4 h-20 py-2 flex items-end px-4 border-b">
        <p class="text-base  text-slate-600 font-sans">
           There is a immense power wwhen a group of people with similar intrests gets together to work toward the same goal
        </p>
    </div>

</div>
<div *ngIf="!dataLoaded"  style="background-color: #F5F5F5 ; height: 100vh;" class="flex justify-center">
    <div  class="flex flex-col w-fit">
        <div id="card" class="w-96 h-20  rounded bg-white">
    
        </div>
        <div id="card" class="w-96 h-12 mt-2 animate-pulse rounded bg-white">
    
        </div>
      </div>
</div>

<div  style="min-height: 500px;" class="md:w-full h-fit flex flex-col items-center bg-white">
   <div *ngFor="let el of list"  [routerLink]="['/communitydetail',el._id]" class="md:w-fit mt-4 border p-1 h-fit rounded md:flex   ">
     <div class="w-fit h-fit flex items-center ">
<img [src]="el.image" class="h-20 w-20" alt="">
     </div>
     <div  class=" w-96  h-28 overflow-x-auto ml-2 flex  flex-col  cursor-default ">
      <div class="w-full h-fit border-b p-1">
<h1 class="text-lg font-semibold font-sans">{{el.name}}</h1>
      </div>
<p class="text-base  text-slate-400 font-sans">
  {{el.description}}
</p>
     </div>
     <div class="w-36 flex justify-end items-end md:mt-0 mt-4">
      <div class="w-fit h-fit px-3 py-1 border cursor-pointer border-sky-500 text-sky-500 hover:bg-sky-500 hover:text-white transition duration-700 ">
     <h1  class="text-base font-normal">Join</h1>
      </div>
     </div>
   </div>
</div>
</div>