
<section class="flex flex-col">
    <div class="md:w-full w-4/5 h-96 flex md:justify-center items-center">
       
        <h1 class="text-6xl text-sans font-bold">Page <span class="text-red-600 text-8xl">Not</span> Found</h1>
        
    </div>
    <div class="md:w-full w-4/5 h-fit flex justify-center md:pt-16">
        <button (click)="btnClicked()" class="p-2 rounded border border-red-600 w-44 text-slate-600 hover:bg-red-600 hover:text-white transition duration-700">Home</button>
    </div>
</section>