<div class="md:w-full h-fit pl-10  grid justify-evenly  sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3">
  <div class="border w-60 mt-10 h-36 -h-360 shadow-sm rounded flex flex-col ">
    <div class="h-1/2 rounded-t bg-red-600 relative">
      <p class="absolute bottom-2 left-2 text-xl font-semibold text-white">Users</p>
      <p class="absolute bottom-2 right-2 text-xl font-semibold text-white">30</p>
    </div>
    <div class="rounded-b bg-red-400 flex-1 flex">
      <div class="  flex-1 flex flex-col">
           <div class="flex-1 flex justify-center items-center">
<p class="font-normal text-white">Blocked</p>
           </div>
           <div class="flex-1 flex justify-center items-center">
            <p class="font-medium text-white">20</p>
           </div>
      </div>
      <div class="flex-1 flex flex-col">
        <div class="flex-1 flex justify-center items-center">
          <p class="font-normal text-white">Non-Blocked</p>
                     </div>
                     <div class="flex-1 flex justify-center items-center">
                      <p class="font-medium text-white">10</p>
                     </div>
      </div>
    </div>
  </div>
  
  <div class="border w-60 mt-10 md:mb-8 h-36 rounded flex flex-col" >
   <div class="h-1/2 rounded-t bg-sky-700">

   </div>
   <div class="flex-1 rounded-b bg-sky-400" >

   </div>
  </div>
  <div class="border w-60 mt-10 md:mb-8 h-36 rounded flex flex-col" >
    <div class="h-1/2 rounded-t bg-yellow-700">

    </div>
    <div class="flex-1 rounded-b bg-yellow-400" >
 
    </div>
  </div>
  <div class="border w-60 mt-10 md:mb-8 h-36 rounded flex flex-col" >
    <div class="h-1/2 rounded-t bg-green-700">

    </div>
    <div class="flex-1 rounded-b bg-green-400" >
 
    </div>
  </div>
  <div class="border w-60 mt-10 h-36 rounded flex flex-col" >
    <div class="h-1/2 rounded-t bg-pink-500">

    </div>
    <div class="flex-1 rounded-b bg-pink-300" >
 
    </div>
  </div>
  <div class="border w-60 mt-10 h-36 rounded flex flex-col" >
    <div class="h-1/2 rounded-t bg-gray-500">

    </div>
    <div class="flex-1 rounded-b bg-gray-300" >
 
    </div>
  </div>
  
</div>
