<div class="md:w-full h-fit pl-10  grid justify-evenly  sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3">
    <div class="border w-60 mt-10 h-36 -h-360 shadow-sm rounded flex flex-col" >
   <div class=" h-1/2 rounded-t bg-red-600">
  
   </div>
   <div class="rounded-b bg-red-400 flex-1">
  
   </div>
    </div>
    <div class="border w-60 mt-10 md:mb-8 h-36 rounded flex flex-col" >
     <div class="h-1/2 rounded-t bg-sky-700">
  
     </div>
     <div class="flex-1 rounded-b bg-sky-400" >
  
     </div>
    </div>
    <div class="border w-60 mt-10 md:mb-8 h-36 rounded" >
  
    </div>
    <div class="border w-60 mt-10 md:mb-8 h-36 rounded" >
  
    </div>
    <div class="border w-60 mt-10 h-36 rounded" >
  
    </div>
    <div class="border w-60 mt-10 h-36 rounded" >
  
    </div>
    
  </div>
  