<div class=" bg-white border  w-full sticky top-0 ">
    <div class="flex justify-between py-3 mx-5 text-black  item-center">
        <div >
            <a href="" class="flex">
             <img src="" alt="logo">
             <h6>codoForum</h6>
            </a>
         </div>
         <div class="flex item-center">
             <div class="mr-3 hover:bg-slate-500 py-1 px-3 rounded-md">
               
             </div>
             <div class="flex item-center justify-center">
                 <a href="">
                
                     <div (click)="logout()" class=" flex bg-slate-500 py-1 px-3 rounded-md">
              <h6 class="ml-1">Logout</h6>
                     </div>
                 </a>
                 </div>
            
            
         </div>
    </div>
</div>