<div *ngIf="!dataLoaded" class="w-full flex justify-center pt-6">
    <div   style="height: 400px ;" class="md:w-3/4 w-96 border animate-pulse bg-slate-200 ">
  
    </div>
  </div>
<div *ngIf="dataLoaded" style="background-color: #f9fafb ; min-height: 100vh;" class=" p-3 h-fit">
    <div class=" flex flex-col bg-white  md:w-full w-96  h-fit">

        <!-- <div class="md:flex">
            <div class="flex-1 flex justify-start items-center h-12 ">
<h1 class="text-2xl font-normal font-sans ml-4">Tags</h1>
            </div>
            <div class="flex-1 flex items-center h-12 ">
                <form >
                    <input autocomplete="off" type="search" [formControl]="searchControl" class="form-control rounded  border "
                    placeholder='Search here....' style="max-width: 400px; margin-top: 7px;" />
                </form>
            </div>
        </div> -->
        <app-tagsearch
        (dataEvent)="tagSearch($event)"
        ></app-tagsearch>
        <div class="md:w-full w-96 md:mt-0 mt-4 h-20 py-2 flex items-end px-4 border-b">
            <p class="text-base  text-slate-600 font-sans mb-6">
                A tag is a keyword or label that ca tegorizes your question with other, similar questions. Using the right tags makes it easier for others to find and answer your question.
            </p>
        </div>

    </div>

    <!-- component -->
<div class="py-4 bg-gray-50 overflow-hidden h-fit">
    <div class="container m-auto px-2 space-y-8 text-gray-500 md:px-12">
       
        <div class="mt-3 grid border divide-x divide-y rounded-xl overflow-hidden sm:grid-cols-2 lg:divide-y-0 lg:grid-cols-3 xl:grid-cols-4">
            <div *ngFor="let el of tags | searchTags:value" class="relative group bg-white transition hover:z-[1] hover:shadow-2xl">
                <div class="relative p-8 space-y-8">
                    <img src="https://tailus.io/sources/blocks/stacked/preview/images/avatars/burger.png" class="w-10" width="512" height="512" alt="burger illustration">
                    
                    <div class="space-y-2 h-28 overflow-hidden">
                        <h5 class="text-xl text-gray-800 font-medium transition group-hover:text-yellow-600">{{el.name}}</h5>
                        <p class="text-sm text-gray-600 line-clamp-3">{{el.description}}</p>
                    </div>
                    <a [routerLink]="['/tagqn',el._id]" class="flex justify-between items-center group-hover:text-yellow-600">
                        <span class="text-sm">View more</span>
                        <span class="-translate-x-4 opacity-0 text-2xl transition duration-300 group-hover:opacity-100 group-hover:translate-x-0">&RightArrow;</span>
                    </a>
                </div>
            </div>   
        </div>
    </div>
</div>
</div>